.ednote {
  background: #eee;
  border-left: 12px double #f24;
  margin: 1em;
  margin-bottom: 0;
  padding: 1px 0.5em;
}
.ednoteHeader {
  font-weight: bold;
  display: block;
  color: #f24;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
.toc ul li {
  list-style-type: none;
}
.bnf {
  font-family: monospace;
  background: #ddd;
}
.propattrset {
}
.prop {
  font-family: monospace;
}
.proptable {
  border-collapse: collapse;
  border: 1px solid #aaa;
  background: #f8f8f8;
  margin: 0 1em;
}
.proptable th {
  text-align: left;
  vertical-align: bottom;
  background: #ddd;
  border-bottom: 3px double #aaa;
  white-space: nowrap;
}
.proptable td {
  border-top: 1px solid #aaa;
  vertical-align: top;
}
.proptable th, .proptable td {
  padding: 0.25em 0.75em;
}
.xattr {
  font-family: monospace;
}
table.grammar {
  border-collapse: collapse;
}
table.grammar td {
  vertical-align: top;
  margin: 0;
  padding: 0.325em 1em;
}
.nt, .prod-rhs {
  font-family: monospace;
}
.nt-attr {
  font-style: italic;
  font-size: 85%;
}
