@import(http://www.w3.org/StyleSheets/TR/base);

.ednote {
  background: #eee;
  border-left: 12px double #f24;
  margin: 1em;
  margin-bottom: 0;
  padding: 1px 0.5em;
  padding-bottom: 0.5em;
}
.ednoteHeader {
  font-weight: bold;
  display: block;
  color: #f24;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
.toc ul li {
  list-style-type: none;
}
.terminal {
  font-family: monospace;
  background: #ddd;
}
.propattrset {
}
.prop {
  font-family: monospace;
}
.proptable {
  border-collapse: collapse;
  border: 1px solid #aaa;
  background: #f8f8f8;
  margin: 0 1em;
}
.proptable th {
  text-align: left;
  vertical-align: bottom;
  background: #ddd;
  border-bottom: 3px double #aaa;
  white-space: nowrap;
}
.proptable td {
  border-top: 1px solid #aaa;
  vertical-align: top;
}
.proptable th, .proptable td {
  padding: 0.25em 0.75em;
}
.xattr {
  font-family: monospace;
}
table.grammar {
  border-collapse: collapse;
}
table.grammar td {
  vertical-align: top;
  margin: 0;
  padding: 0.325em 1em;
}
table.grammar td.prod-rhs {
  vertical-align: inherit;
}
.nt, .prod-lines {
  font-family: monospace;
}
.nt-attr {
  font-style: italic;
  font-size: 85%;
}
.idltype {
  font-weight: bold;
}
.esvalue, .estype {
  font-weight: bold;
}
.esstring {
  font-family: monospace;
}
.regex {
  font-family: monospace;
}
.typevar {
  font-style: italic;
}
.example {
  border-left: 6px solid #3c1;
  padding: 1px 0.5em;
  padding-bottom: 0.5em;
  background: #eee;
  margin: 1em;
  margin-bottom: 0;
}
.exampleHeader {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
}
pre {
  overflow: auto;
  margin: 0;
}
pre.code {
  padding: 0 1em;
}
.block {
  border: 1px solid #ccc;
  border-left: 3px double #ccc;
  background: #e6e6e6;
  margin: 1em;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: 0 0.5em;
  padding-bottom: 0.5em;
}
.blockTitleDiv {
  text-align: left;
}
.blockTitle {
  position: relative;
  top: -0.75em;
  border: 1px solid #ccc;
  background: white;
  color: #444;
  padding: 0.25em;
  font-weight: bold;
  font-size: 80%;
}
